.SlotsCarousel{
    height: 150px;
    overflow-y: hidden;
    display: inline-block;
    margin: 0 12px;
    .ul{
        width:150px;
        
        .li{
            width:150px;
            height:150px;
            .img{
                width:150px;
                height:150px;
            }
        }
    }
}
